.food-display {
    display: flex;
    margin: 50px auto;
    width: 80%;
    gap: 35px;
    flex-direction: column;
    align-items: center;
}

.food-display .food-display-left {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: column-reverse;
    align-items: center;
}

.food-display .food-display-left .image-list {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.food-display .food-display-left .image-list img {
    width: 65px;
    margin-bottom: 10px;
    background-color: white;
    padding: 5px;
    border: 1px solid #8d8d8d;
    border-radius: 10px;
    cursor: pointer;
}

.food-display .food-display-left .image-display {
    padding: 20px;
    background-color: white;
    border-radius: 14px;
    border: 1px solid #8d8d8d;
    max-width: 100%;
    height: 500px;
    max-height: 500px;
}

.food-display .food-display-left .image-display img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.food-display .food-display-right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.food-display .food-display-right h1 {
    font-size: 40px;
    font-weight: 800;
    color: black;
    text-align: center;
}

.food-display .food-display-right .info {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 25px 0;
}

.food-display .food-display-right .right-star {
    display: flex;
}

.food-display .food-display-right .right-star img {
    width: 25px;
}

.food-display .food-display-right .right-star p {
    color: black;
    margin-left: 10px;
    font-size: 19px;
    font-weight: 500;
}

.food-display .food-display-right .price {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 40px;
    font-weight: 700;
    color: #ff0000;
}


.food-display .food-display-right .description {
    font-size: 20px;
    line-height: 1.5;
    color: #595757;
    margin-bottom: 50px;
    width: 70%;
}

.food-display .food-display-right button {
    width: 300px;
    height: 70px;
    border: none;
    outline: none;
    font-size: 25px;
    font-weight: 600;
    color: white;
    border-radius: 7px;
    cursor: pointer;
    background: linear-gradient(135deg, #ff1717, #ff6700);
    transition: .4s;
}

.food-display .food-display-right button:hover {
    transform: scale(1.05);
}



/* Start Responsive */

@media (max-width: 1500px) {

    .food-display .food-display-right .right-star {
        display: flex;
        margin: 30px 0;
    }

    .food-display .food-display-right .price {
        margin: 30px 0;
    }

    .food-display .food-display-right .description {
        line-height: 1.4;
    }
}

@media (max-width: 1200px) {

    .food-display .food-display-right .right-star {
        margin: 15px 0 0 0;
    }

    .food-display .food-display-right .price {
        margin: 20px 0;
    }

    .food-display .food-display-right .description {
        line-height: 1.3;
    }

}

@media (max-width: 1000px) {

    .food-display {
        gap: 25px;
    }

    .food-display .food-display-left .image-list img {
        width: 50px;
    }

    .food-display .food-display-left .image-display {
        width: 100%;
        height: 350px;
    }

    .food-display .food-display-right {
        text-align: center;
        align-items: center;
    }

    .food-display .food-display-right .right-star {
        margin: 20px 0;
    }

    .food-display .food-display-right .price {
        margin: 25px 0;
    }

    .food-display .food-display-right .description {
        line-height: 1.3;
        width: 100%;
    }

    .food-display .food-display-right button {
        width: 50%;
    }

}


@media (max-width: 700px) {

    .bread-crums {
        font-size: 8px;
        margin: 25px 15px;
    }

    .bread-crums img {
        width: 10px;
    }

    .food-display .food-display-left {
        width: 100%;
        flex-direction: column-reverse;
        gap: 15px;
    }

    .food-display .food-display-left .image-list {
        gap: 10px;
    }

    .food-display .food-display-left .image-list img {
        width: 40px;
        padding: 1px;
    }

    .food-display .food-display-left .image-display {
        width: 100%;
        height: auto;
        padding: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .food-display .food-display-right .info {
        margin: 15px 0;
    }


    .food-display .food-display-right h1 {
        font-size: 37px;
    }

    .food-display .food-display-right .right-star {
        margin: 15px 0;
    }

    .food-display .food-display-right .price {
        margin: 15px 0;
    }

    .food-display .food-display-right .description {
        line-height: 1.3;
        margin-bottom: 35px;
        width: 100%;
    }

    .food-display .food-display-right button {
        width: 70%;
        font-size: 22px;
    }

}

@media (max-width: 400px) {

    .food-display {
        gap: 10px;
        width: 90%;
    }

    .food-display .food-display-left .image-display {
        width: 100%;
        max-width: 100%;
        padding: 5px;
    }

    .food-display .food-display-left .image-list {
        gap: 5px;
    }

    .food-display .food-display-left .image-list img {
        width: 28px;
    }

    .food-display .food-display-right h1 {
        font-size: 30px;
    }

    .food-display .food-display-right .right-star img {
        width: 20px;
    }

    .food-display .food-display-right .info {
        margin: 10px 0;
    }

    .food-display .food-display-right .right-star p {
        font-size: 14px;
    }

    .food-display .food-display-right .price {
        margin: 15px 0;
        font-size: 28px;
    }

    .food-display .food-display-right .description {
        line-height: 1.3;
        margin-bottom: 30px;
        font-size: 14px;
    }

    .food-display .food-display-right button {
        width: 80%;
        font-size: 20px;
    }

}

/* End Responsive */